.destination {
  position: relative;
  width: 32%;
}

.destinationImage {
  border-radius: 10px;
  height: -webkit-fill-available;
  aspect-ratio: 1;
}

.destinationCountry {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {

  .destination {
    width: 100%;
  }

  .destinationImage {
    height: auto;
  }

}